
<header class="titulo">
  <h1>Agregar nuevo cliente</h1>
</header>

<div class="pedido-formulario">
  <form (ngSubmit)="agregarCliente()">

    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nombre" name="nombre" required>

    <label>Apellido:</label>
    <input type="text" [(ngModel)]="apellido" name="apellido" required>

    <label>Cedula:</label>
    <input type="number" [(ngModel)]="cedula" name="cedula" required>

    <label>Telefono:</label>
    <input type="number" [(ngModel)]="telefono" name="telefono" required>

    <label>Correo electrónico:</label>
    <input type="text" [(ngModel)]="correo" name="correo" required>

    <label>Dirección de Residencia:</label>
    <input type="text" [(ngModel)]="direccion" name="direccion" required>

    <label>Ciudad :</label>
    <input type="text" [(ngModel)]="ciudad" name="ciudad" required>


    <button type="submit" class="enviar">Agregar</button>
  </form>
</div>

